<div class="content-heading">
  人员管理
  <button class="btn btn-primary pull-right" (click)="addUsers()">
    添加人员
  </button>
</div>

<ngx-datatable
  class="material"
  [headerHeight]="40"
  [footerHeight]="40"
  [rowHeight]="'auto'"
  [columnMode]="'flex'"
  [rows]="rows"
  [messages]="{emptyMessage: '无人员', totalMessage: '个人员'}"
  [limit]="2"
  [loadingIndicator]="isLoading">
  <ngx-datatable-column name="编号" prop="id" [flexGrow]="2" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column name="名称" prop="name" [flexGrow]="2" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column name="年龄" prop="age" [flexGrow]="2" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column name="学校" prop="school" [flexGrow]="2" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column name="性别" prop="sex" [flexGrow]="2" [resizeable]="false"></ngx-datatable-column>
  <ngx-datatable-column name="操作" prop="id" [flexGrow]="3" [sortable]="false" [resizeable]="false">
    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
      <button class="btn btn-warning btn-outline btn-xs" tooltip="编辑" (click)="editUsers(value, row)">
        <span class="fa fa-pencil"></span>
      </button>
      <button class="btn btn-danger btn-outline btn-xs" tooltip="删除" (click)="removeUsers(value)">
        <span class="fa fa-remove"></span>
      </button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
